
        .vertical-line{
            border-left: 1px solid #e6e8ec;
            height: 75px;
            position: absolute;
            bottom: 220px;
            left: 65px;
            
        }
        .class{
            position: relative;
            bottom: 76px;
            left: 90px;
            font-family:sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
            font-size: 40px;
            color: #121528;
        }
        .color{
            color:#6800e8;
            font-size: 45px;
            position: relative;
            right: 20px;
        }
        p{
            position: relative;
            bottom: 96px;
            left: 90px;
            color: #a8abb4;

        }
        button{
            position: relative;
            bottom: 70px;
            left: 90px;
            background-color: #6800e8;
            color:#e1d7fb ;
            border-width: 0px;
            padding: 10px 12px;
            border-radius: 4px;
            font-weight: bold;
        }
        .button2{
            position:relative;
            left: 100px;
            color: #6e00d5;
            background-color: #d8d7fd;
        }
  