
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
}
.text{
position: absolute;
font-size: 60px;
}
ul{
position:absolute;
top: 345px;
left: 20px;
list-style-type: none;
}
li::before{
content: "✔️";
color: rgb(7, 7, 226);
border: 1px solid blue;
padding:1px 3px;
border-radius: 30px;
position: relative;
right: 0px;
}
p{
 float: left;
 margin: 50px;
 position: relative;
 left:350px;
 bottom: 95px;
}
button{
position: relative;
left: 240px;
bottom:50px;
padding: 10px 15px;
border-radius: 10px;
background-color: #ffffff;
border: 1px solid #ecedf0;
}
.buttons-wrapper {
    position: relative;
    top: 400px;
}

.outer-button {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    width: 30%;
    background: #ffffff;
    color: grey;
    text-align: left;
    font-size: 15px;
   
}

.inner-button {
    position: absolute;
    top: 4px;
    left: 250px;
    line-height: 1px;
    height: 30px;
    color: lightcyan;
    background-color: rgb(34, 34, 111);
    font-size: 15px;
    font-weight: bold;
}