
h1{
    margin-left: 20px;
}
.text{
position: absolute;
font-size: 60px;
}
ul{
position:absolute;
top: 345px;
left: 20px;
list-style-type: none;
}
li::before{
content: "✓";
color: blue;
border: 1px solid blue;
padding:1px 3px;
border-radius: 70px;
position: relative;
right: 30px;
}
p{
 float: left;
 margin: 50px;
 position: relative;
 left:350px;
 bottom: 95px;
}
button{
position: relative;
left: 240px;
bottom:50px;
padding: 10px 15px;
border-radius: 10px;
background-color: #ffffff;
border: 1px solid #ecedf0;
}
.buttons-wrapper {
    position: relative;
    top: 400px;
}

.outer-button {
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
padding: 20px 20px;
background: black;
color: lightblue;
}

.inner-button {
position: absolute;
top: 8px;
bottom: 4px;
height: 24px;
left: 20px;
color: lightcyan;
background-color: darkblue;
}
